marker-pdf==1.6.1
jupyter
ipywidgets

peft
loguru
html5lib
lxml
tabulate

torch_geometric

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.1 
torchvision==0.18.1 
torchaudio==2.3.1